name: 【Docker】 Build and Push Docker image
on:
  schedule:
    - cron: '0 16 * * *'
  push:
    branches: [ "main" ]
    paths: [ "Dockerfile",".github/workflows/docker-build-publish.yml","web/**" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "Dockerfile",".github/workflows/docker-build-publish.yml","web/**" ]
  workflow_dispatch: ~

jobs:
  Build_Docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Set version
      id: set_version
      run: |
        echo "version=1.0" >> $GITHUB_OUTPUT
        
    - name: Cache Docker layers
      uses: actions/cache@v4.0.2
      with:
        path: /tmp/.buildx-cache
        key: sponsor-${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          sponsor-${{ runner.os }}-buildx-
          
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract Docker metadata (style1)
      id: meta-style1
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/sponsor
        tags: |
          type=raw,value=latest,enable=true
          type=raw,value=style1,enable=true
        labels: |
          org.opencontainers.image.author=KIMI360
          org.opencontainers.image.description=A simple sponsorship page
          org.opencontainers.image.licenses=MIT
          org.opencontainers.image.source=https://github.com/kimi360/Docker-Sponsor-Page
          org.opencontainers.image.title=${{ secrets.DOCKER_USERNAME }}/sponsor
          org.opencontainers.image.url=https://github.com/kimi360/Docker-Sponsor-Page
          org.opencontainers.image.version=${{ steps.set_version.outputs.version }}
          org.opencontainers.image.docker.cmd=docker run -p 80:80 -d kimi360/sponsor:style1
        flavor: latest=false     

    - name: Build and push Docker image (style1)
      uses: docker/build-push-action@v5
      with:
        context: .
        build-args: STYLE=1
        push: true
        tags: ${{ steps.meta-style1.outputs.tags }}
        labels: ${{ steps.meta-style1.outputs.labels }}
        platforms: |
            linux/386
            linux/amd64
            linux/arm/v6
            linux/arm/v7
            linux/arm64
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache


    - name: Extract Docker metadata (style2)
      id: meta-style2
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/sponsor
        tags: |
          type=raw,value=style2,enable=true
        labels: |
          org.opencontainers.image.author=KIMI360
          org.opencontainers.image.description=A simple sponsorship page
          org.opencontainers.image.licenses=MIT
          org.opencontainers.image.source=https://github.com/kimi360/Docker-Sponsor-Page
          org.opencontainers.image.title=${{ secrets.DOCKER_USERNAME }}/sponsor
          org.opencontainers.image.url=https://github.com/kimi360/Docker-Sponsor-Page
          org.opencontainers.image.version=${{ steps.set_version.outputs.version }}
          org.opencontainers.image.docker.cmd=docker run -p 80:80 -d kimi360/sponsor:style1
        flavor: latest=false     

    - name: Build and push Docker image (style2)
      uses: docker/build-push-action@v5
      with:
        context: .
        build-args: STYLE=2
        push: true
        tags: ${{ steps.meta-style2.outputs.tags }}
        labels: ${{ steps.meta-style2.outputs.labels }}
        platforms: |
            linux/386
            linux/amd64
            linux/arm/v6
            linux/arm/v7
            linux/arm64
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
