name: 【Docker】 Push Readme

on:
  push:
    branches: [ "main" ]
    paths: [ "README.md" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "README.md" ]
  workflow_dispatch: ~
  
jobs:
  description:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ secrets.DOCKER_USERNAME }}/sponsor
